[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true

[packages]
torch = {version = "==2.4.1", index = "pytorch-cpu"}
transformers = "==4.44.2"
sentence-transformers = "==3.0.1"

hdbscan = "*"
umap-learn = "*"
plotly = "*"
scikit-learn = "*"
pandas = "*"
nbformat = "*"
openai = "*"
tiktoken = "*"
python-dotenv = "*"   # rename: package is python-dotenv
duckdb = "*"
streamlit = "*"       # optional but nice to pin later

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
